* {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    height: 85vh;
    background-color:   #FAFAFA;
    .navbar {
        width: 84%;
        height: 25vh;
        padding: 25px 0 0 200px;
        display: flex;
        justify-content: space-between;
        @media (max-width:400px) {
            width: 100%;
            padding: 0;
            display: block;
            background-color: #F7F7F7;;
        }
        .text-1 {
            width: 40%;
            height: 5vh;
            @media (max-width:400px) {
                width: 100%;
            }
        }
        nav {
            width: 60%;
            height: 20vh;
            display: flex;
            @media (max-width:400px){
                display: block;
            }
            ul {
                width: 60%;
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                @media (max-width:400px) {
                    width: 80%;
                    display: block;
                    text-align: center;
                    margin-left: 122px;
                    margin-top: 20px;
                    font-size: 25px;
                    line-height: 27px;
                }
            }
            .foto-1 {
                width: 30%;
                margin-left: 30px;
                justify-content: space-between;
                @media (max-width:400px) {
                    margin-bottom: 10%;
                    display: none;
                }
            }
        }
        .menu {
            width: 5%;
            @media (max-width:400px) {
                display: none;
            }
        }
    }

    .sentr {
        width: 100%;
        height: 55vh;
        text-align: center;
        @media (max-width:400px) {
        margin-top: 25px;
        height: 80vh;
        }
        .tex {
            text-align: center;
            h1 {
                font-size: 50px;
            }
            p {
                margin-top: 35px;
                color: #737373;
                @media (max-width:400px) {
                width: 55%;
                margin-left: 100px;
                }

            }
        }
        button {
            border-radius: 35px;
            width: 8%;
            height: 5%;
            margin-top: 25px;
            @media (max-width:400px) {
                display: block;
                margin-left: 150px;
                width: 25%;
            }

        }
    }
}

.container-2 {
    width: 100%;
    height: 70vh;
    @media (max-width:400px) {
        margin-top: 15px;
    }
    .text-2 {
        text-align: center;
        @media (max-width:400px) {
            margin-top: 55px;

        }
        
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 15px;
            margin-top: 15px;
            @media (max-width:400px) {
            width: 55%;
            margin-top: 15px;
            margin-left: 90px;
            }
        }
    }
    .contacts {
        width: 70%;
        height: 60vh;
        padding: 45px 15%;
        @media (max-width:400px) {
        width: 80%;
        height: 100vh;
        padding: 35px 35px;
        }

        .ryadi-1 {
            width: 100%;
            height: 30vh;
            display: flex;
            justify-content: space-between;
            @media (max-width:400px) {
            display: block;
            width: 100%;
            height: 30vh;
            }
            .one {
                width: 23%;
                height: 20vh;
                background-color: #fff;
                border: 1px solid #e8e8e8;
                @media (max-width:400px) {
                    width: 100%;
                    height: 68vh;
                }

                .aa {
                    padding: 15px 15px;
                    align-items: center;
                    display: flex;
                    gap: 10px;
                }
                p {
                    padding: 15px 15px;
                }
            }
        }
    }
}

.container-3 {
    width: 100%;
    height: 96vh;
    margin-top: 25px;
    background-color:   #FAFAFA;
    position: relative;
    @media (max-width:400px) {
    margin-top: 600px;
    }

    .text-3 {
        height: 107px;
        text-align: center;
        h2 {
            font-size: 35px;
        }
        p {
            color: #737373;
            font-size: 15px;
            margin-top: 15px;
        }
    }
    .fotto {
        width: 100%;
        height: 40vh;
        background-color: #0a0923;
        margin-top: 46vh;
    }
    .back {
        height: 50vh;
        width: 50%;
        padding: 0 10%;
        position: absolute;
        top: 35%;
        left: 10%;
        img{
            @media (max-width:400px) {
            width: 100%;
            height: 20vh;
            position: absolute;
            top: 35%;
            left: 10%;
            }

        }
    }
}

.container-4 {
    width: 80%;
    height: 70vh;
    padding: 5% 10%;
    background-color: #f3f3f3;
    @media (max-width:400px) {
        margin-top: 250px;
    }
    .text-4 {
        height: 107px;
        text-align: center;
        h2 {
            font-size: 35px;
        }
        p {
            color: #737373;
            font-size: 15px;
            margin-top: 15px;
        }
    }
    .contacts-2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        @media (max-width:400px) {
            display: block;
            width: 100%;
            height: 55vh;
        }
        .con-1 {
            width: 25%;
            height: 30vh;
            padding: 15px 35px;
            background: #ffffff;
            border: 1px solid #dedede;
            border-radius: 5px;
            
            @media (max-width:400px) {
                width: 72%;
                height: 30vh;
            }
            
            p {
                margin-top: 25px;
            }
            .mans {
                display: flex;
                margin-top: 25px;
                .man1 {
                    margin-left: 15px;
                }
            }
        }
    }
}

.container-5 {
    width: 80%;
    height: 70vh;
    margin-top: 25px;
    padding: 0 10%;
    @media (max-width:400px) {
        margin-top: 400px;
        padding: 0%;
    }
    .text-5 {
        height: 107px;
        text-align: center;
        h2 {
            font-size: 35px;
        }
        p {
            color: #737373;
            font-size: 15px;
            margin-top: 15px;
        }
    }

    .contacts-3 {
        width: 100%;
        height: 55vh;
        display: flex;
        margin-top: 45px;
        gap: 50px;
        margin-left: 65px;
        @media (max-width:400px) {
            display: block;
            width: 100%;
            height: 50vh;
        }
        .cont-1 {
            width: 25%;
            height: 40vh;
            background: #ffffff;
            border: 1px solid #dedede;
            border-radius: 5px;
            @media (max-width:400px) {
                width: 100%;
                height: 55vh;
                padding: 5px 0;
            }

            h1 {
                font-size: 25px;
            }
            h1,
            h5 {
                text-align: center;
            }
            .icon {
                padding: 5px 30%;
            }
        }
    }
}

.container-6{
    width: 100%;
    height: 90vh;
    @media (max-width:400px) {
        margin-top: 130vh;
    }
    .backround{
        width: 100%;
        height: 85vh;
        background-image: url(./background\ \(1\).png);
        background-repeat: no-repeat;
        background-size: cover;

        .div{
            width: 80%;
            padding: 50px 10%;
            justify-content: space-between;
            .text-6{
                font-size: 25px;
                
            }
            .input{
                width: 100%;
                height: 40vh;

                input{
                    margin: 15px 0;
                    width: 25%;
                    height: 5vh;
                    @media (max-width:400px) {
                        display: block;
                        width: 50%;
                        height: 6vh;
                    }
                }
                select{
                    width: 25.6%;
                    height: 6vh;
                    margin: 15px 0;
                    @media (max-width:400px) {
                        display: block;
                        width: 50%;
                        height: 6vh;
                      
                    }

                }
                textarea{
                    width: 50.9%;
                    height: 10vh;
                }
                .buton{
                    margin: 15px 0;
                    button{
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        background-color: #FF7B47; 
                        width: 15%;
                        height: 7vh;  
                        @media (max-width:400px) {
                            width:50%;
                            height: 6vh;
                          
                        }                 
                    }
                }
            }
        }
    }
}

.container-7{
    width: 80%;
    height: 10vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    @media (max-width:400px) {
        display: block;
        width: 50%;
        height: 6vh;
      
    }
    
    .text-7{
        p{
            margin-top: 5px;
           font-size: 20px;
        }
    }
    .boton{
        width: 15%;
        button{
            color: #fff;
            border: none;
            border-radius: 5px;
            background-color: #FF7B47; 
            width: 100%;
            height: 5vh;                   

        }
    }
}

